body{
    background-color: #e1e9f0;
    color: #694545;
   
   
}

#banklogo{
    width: 250px;
}
nav a {
    margin-left: 70px;
    color: #694545;
    text-decoration: none;
   

}
header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #f1f1f1;
     align-items: center;
    
  
}
header button {
    padding: 5px 10px;
    background-color: #f1f1f1;
    color: #694545;
    border-color:#f1f1f1;
    border: none;
    
}
button:hover{
    background-color: #626262;
    color: white;
}

#logo{
    width: 10%;
}
section{
    font-family:Abadi;
}
#s1{
   
 
    padding: 100px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
   align-items: center;
   color: white;
   background-image: url( "https://images.unsplash.com/photo-1500316124030-4cffa46f10f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjJ8fHVhZSUyMG1vbmV5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
   background-repeat: no-repeat;
    background-size: cover;
   
}
 x
#s1 h3{
    margin: 70px;

}
.card{
    background-size: cover;
    background-position: center;
}
#s2 button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: #694545;
    margin: 10px;
}
#s2 button:hover{
    background-color: #626262;
    color: white;
}

#imgs1{
    width: 400px;

}


#backbtn{
    width: 145px;
}
#chatbot{
    width: 60px;
    position:fixed;
    bottom: 30px;
    right: 30px;
}
footer{
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: large;
    color: #242424;
    padding: 50px;
}
footer a {
    color: #242424;
    text-decoration: none;
    size: 50px;
    margin-left: 40px;

}
.icons{
    margin-left: 10px;
    
 
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }

   #clear {margin-left:700px;}
